<%- include('header')%>
    <form method="GET" action="/cotacao">
        <input type="text" name="cotation" placeholder="Dolar cotation" value="<%=cotation%>"><br>
        <input type="text" name="amount" placeholder="Dolar amount"><br>
        <button>Convert</button>
    </form>
    <%- include('footer')%>